* {
    margin:0;
    padding:0;

}


body{
    background-color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100%;
    width: 100%;
}

nav, footer {
    background-color:black;
    font-size:120%;

}

nav ul{
    list-style-type: none;
    display:flex;

}

nav a{
    text-decoration: none;
    color:grey;

}
nav a:hover{
    text-decoration:underline ;
    color:white;
}
nav li{
    display:block;
    padding:2rem;
}

h1,h4 {
    text-align: center;
    margin:1rem 0 1rem 1rem;

}

.flex-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: stretch;

}
.flex-container section {
   flex: 1 1 27%;
}

.img-fluid {
    width: 100%;
    max-width: 150px;
    display: block;
    margin: auto;
}

article a{
    text-decoration: none;
    color:black;
    transition: all 0.2s;
    border-left:20px solid white;
    display:block;


}

article a:hover{
    color:cadetblue;
    border-left: 20px solid cadetblue;
    

}


.primary h2{
    padding:2rem;
    text-align: center;
}

.primary p {
    padding:2rem;
    font-size: larger;
    font-weight: 800;
}

section {
    padding:1em;
    border-radius: 2%;
    background-color: rgb(245, 245, 245);
    box-shadow: 1px 1px 5px rgba(68, 68, 68, 0.6);
    transition:all 0.2s;
    margin: 1%;
}

section:hover{
    box-shadow: 5px 5px 10px rgba(68, 68, 68, 0.6);
    cursor: pointer;
    background-color:rgb(240, 240, 240); ;

}
section h3 {
    text-decoration: underline;
    padding:0 2rem 0 2rem;
}

section p{
 text-align: center;
 padding:1rem;
}

.quotes {
    background-color: rgb(226, 228, 126);
    border-left:20px solid hotpink;
    border-radius: 20%;
    padding:1rem;
}
main{
    margin-bottom:20%;
    z-index: 2;
}
footer {
    position: fixed;
    left:0;
    bottom:0;
    width:100%;
    text-align:center;
    background-color: rgb(61, 61, 61);
    color:white;
    padding:2rem 2rem;
    z-index: 1;
 }

 .flex-lists{
     display:flex;
     justify-content: space-evenly

 }
 .flex-lists-items{
     flex: 1 1 30%;
     padding: 0.5rem;
     margin:1rem 0.5rem;
 }

 
 @media screen and (max-width: 720px) {
     .flex-lists-items,
     .flex-container section {
         flex: 0 0 100%;
     }

     article{
         width: auto;
     }

  
 }

 